name: Python CI/CD with MinIO

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  test-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: pip install -r requirements.txt
      - name: Run tests
        run: |
          export PYTHONPATH=$GITHUB_WORKSPACE
          python -m pytest
      - name: Run ETL
        run: |
          mkdir -p output
          python -m app.etl sample_input.csv output/transformed.csv
